@charset 'utf-8';
ul {list-style-type:none;}
a { text-decoration:none;}
.clear {clear: both;}
.navbar, .jumbotron {
    margin-bottom:0;
    border-radius: 0;
}
.navbar {
    background-color:crimson;
}
#navbarDropdown {
    color:#001010;
    background:#efe;
    height:70px;
    line-height: 50px;
    font-size: 22px;
    font-weight: 600;
    padding-left:20px;
    margin-top:0;
    letter-spacing: 1px;
    box-sizing: border-box;
}
.jumbotron {
    padding:0;
    background:rgb(253, 243, 94);
}
 .sns h3{
    color:#001010;
    background:crimson;
    height:50px;
    line-height: 50px;
    font-size: 22px;
    font-weight: 600;
    padding-left:20px;
    margin-top:0;
    letter-spacing: 1px;
    box-sizing: border-box;
}
 .sns ul{
    width:100%;
     margin: 0 auto;
    margin-bottom:10px;
     margin-left:70px;
}
 .sns li{
    float:left;
    width:50px;
    height:50px;
    margin-right:40px;
    font-size: 0;
}
div.sns li.blog {
    background:url("../img/sns.png") 1px 1px no-repeat;
    background-size: 200px;
}
div.sns li.facebook {
    background:url("../img/sns.png") -50px 1px no-repeat;
    background-size: 200px;
}
div.sns li.kakao {
    background:url("../img/sns.png") -100px 1px no-repeat;
    background-size: 200px;
}
div.sns li.band {
    background:url("../img/sns.png") -150px 1px no-repeat;
    background-size: 200px;
}
 .sns li a{
    display: block;
    height:100%;
}
 .sns li:hover{
    filter: drop-shadow(2px 2px 4px);
}

footer{
    ;
    background: #001010;
    width:100%;
    margin-left:-2px;
}
footer ul{
    
    margin:0 auto;
    height:50px;
    line-height:45px;
    color: #efe;
    
}
footer ul li a{
    color:crimson;
    margin-left:3px;
}
footer ul li a:hover {
    color: #efe;
    text-decoration: underline;
}