@charset "utf-8";

*{margin:0;padding:0;}
ul{list-style: none;}
a{text-decoration: none;}
.clear {clear: both;}
img{display: block;}
body {
    font-family: "arial", "malgun gothic", "dotum", sans-serif;
    background:#000;
    color:#464646;
}
#wrapper {
    width:1200px;
    height:100%;
    overflow: hidden;
    margin:0 auto;
}